div{
   padding: 30px; 
   margin:5px; 
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: auto;
}

img{
   width: 120px; 
   margin-bottom: 15px;
   align-items: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

body{
  background: url('../images/back-ground.jpeg');
  background-repeat:repeat;
}


h1{
  text-align: center;
}

@media screen and (max-width: 849px) {
}

@media screen and (min-width: 850px){
	.column {
    width: 100%;
  }
}

